@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
html {
  font-family: Inter;
}
ul {
  list-style: none;
  padding: 20px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

li {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  align-items: center;
  width: 30%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.2s, box-shadow 0.2s;
}

li img {
  margin-right: 12px;
  border-radius: 4px;
}

li div h3 {
  margin: 0;
  font-size: 16px;
  line-height: 1.2;
}

li div span {
  font-size: 14px;
  color: #555;
}

li.fav {
  border-color: #8b1da1;
  background-color: #fce0ff;
}
