body {
  background: linear-gradient(90deg, #e6e6e6 0%, #feec90 100%);
  height: 100vh;
  font-family: "Dangrek", sans-serif;
}

.dangrek-regular {
  font-family: "Dangrek", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.navbar .container {
  padding: 10px;
  background: #fbfaf1;
  border-radius: 14px !important;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.navbar .navbar-brand {
  color: #242424;
  font-size: 24px;
  font-weight: bolder;
}
.navbar .navbar-brand img {
  width: 50px;
}
.navbar .navbar-brand span {
  color: #d1a820;
}
.navbar .navbar-nav .nav-item .nav-link {
  color: #242424;
}
.navbar .navbar-nav .nav-item {
  padding: 8px 2px;

  transition: all 0.3s;
}

.navbar .navbar-nav .nav-item:hover .nav-link {
  color: #f3d05d;
  background-color: #e4d89363;
  border-radius: 24px;
}
.btn {
  background: #fde597;
  color: #242424;
  border: none;
}
.btn:hover {
  background: #f3d05d;
}

p {
  line-height: 1.4;
  font-size: 18px;
}
i:hover {
  transform: translateX(-4px);
}

.feature-card {
  /* From https://css.glass */
  background: #fbf9ec;
  border-radius: 14px !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(1);
  }
}
