body {
  display: flex;
  align-items: center;
  height: 100vh;
  background: radial-gradient(circle at top, #87c1d4, #dedede);
  justify-content: center;
}

.card {
  padding: 20px;
  border-radius: 10px;
}
